<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-2 mt-3"></div>

                <div class="col-lg-8 mt-3">
                    <h1>
                        <%= `Treinos do Aluno ${treino.aluno_id}`%>
                    </h1>

                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Grupo</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descriçao</th>
                                <th scope="col">Serie</th>
                                <th scope="col">Repetiçao</th>
                                <th scope="colgroup"></th>
                                <th scope="colgroup"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(listaExercicio){ %>
                                <% listaExercicio.forEach(exercicio=> { %>
                                    <tr>
                                        <td >
                                            <%= exercicio.grupo %>
                                        </td>
                                        <td >
                                            <%= exercicio.nome %>
                                        </td>
                                        <td >
                                            <%= exercicio.desc %>
                                        </td>
                                        <td class="text-center">
                                            <%= exercicio.serie %>
                                        </td>
                                        <td class="text-center">
                                            <%= exercicio.repeticao %>
                                        </td>
                                        <td>
                                            <a href=<%=`/exercicio/edit/${exercicio.id}`%>>
                                                <button type="button" class="btn btn-sm btn-outline-light">Editar
                                                </button>
                                        </td>
                                        <td>
                                            <a href=<%=`/treino/delet/${exercicio.id}`%>>
                                                <button type="button" class="btn btn-sm btn btn-danger">Deletar
                                                </button>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } %>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasExample">
                            Criar Novo Exercicio
                        </button>
                    </div>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Registrar novo exercicio</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form action=<%=`/exercicio/create/${treino.id}` %> method="post">
                                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                                <div class="mb-3">
                                    <label for="grupo" class="form-label">Grupo Muscular</label>
                                    <select class="form-select" id="grupo" name="grupo">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                    </select>
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Nome do Exercicio</label>
                                            <input name="nome" type="text" class="form-control" id="nome">
                                            <div class="mb-3">
                                                <label for="desc" class="form-label">Descriçao</label>
                                                <input name="desc" type="text" class="form-control" id="desc">
                                            </div>
                                            <div class="mb-3">
                                                <label for="serie" class="form-label">Serie</label>
                                                <input name="serie" type="number" class="form-control" id="serie">
                                            </div>
                                            <div class="mb-3">
                                                <label for="repeticao" class="repeticao">Repetiçao</label>
                                                <input name="repeticao" type="number" class="form-control"
                                                    id="repeticao">
                                            </div>
                                            <div class="d-grid gap-2 col-6 mx-auto">
                                                <button type="submit" class="btn btn-primary">Criar</button>
                                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 mt-3"></div>
            </div>
        </div>



        <%- include('includes/footer') %>