<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-2 mt-3"></div>


        <div class="col-lg-8 mt-3">
          <h1 class="text-center">Cadastro</h1>
          <p class="text-center lead">Realize o seu Cadastro Abaixo</p>
          <%- include('includes/messages') %> 
          <form action="/register/register" method="post">
            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input name="email" type="email" class="form-control" id="email">
              <div class="mb-3">
                <label for="Password" class="form-label">senha</label>
                <input name="password" type="password" class="form-control" id="Password">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Nome:</label>
                <input name="name" type="text" class="form-control" id="name">
              </div>
              <div class="mb-3">
                <div class="form-check form-switch">
                  <label class="form-check-label" for="UserType">Personal/Treinador.</label>
                  <input name="userType" class="form-check-input" type="checkbox" role="switch" id="UserType">
                </div>
              </div>
              <div class="mb-3">
                <select name="treinador_id" class="form-select" aria-label="Default select example">
                  <option selected>Selecione o seu Treinador</option>
                  <% treinadoresList.forEach(treinador => { %> 
                  <option value=<%= treinador.dataValues.id%> ><%= treinador.dataValues.name%> </option>
                  <% }); %> 
                </select>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-lg-2 mt-3"></div>
    </div>
    </div>

    <%- include('includes/footer') %>